/*--------------------------------------------------------------
## Color Variable
----------------------------------------------------------------*/
$white: #ffffff;
$black: #000;
$primary: #274760;
$text-primary: #3bc0c3;
$secondary: rgba($primary, 0.52);
$menu_background: #ffffff;
$side_menu_background: #1a2942;
$ternary: #b7b7b7;
$border: #eaeaea;
$gray: #fafafa;
$accent: #307bc4;
$bg-body: #ffffff;
$font-family: 'Poppins', sans-serif;
$font-family-secondary: 'Sarabun', sans-serif;
$font_color: #051D43;
$text-color: #2C2C37;
$somnambulist: #78889B;
$font_6: 0.375rem;
$font_12: 0.75rem;
$font_13: 0.813rem;
$font_14: 0.875rem;
$font_15: 0.9rem;
$font_16: 1rem;
$font_20: 1.25rem;
$font_30: 1.875rem;

$font_w300: 300;
$font_w400: 400;
$font_w500: 500;
$font_w600: 600;
$font_w700: 700;
